extends layout

block content
  h1 Aplicacion Plan B
  p Listado #{title}
  	| Lista sin ordenar
  ul
      li Uno
      li Dos
      li Tres
    br
    | Listas anidadas
    ul
      li
        | Uno
        ul
          li Uno
          li Dos
          li Tres
      li Dos
      li Tres

  h3 Enlaces demo

  a(href="/login") Login

  block content
  h1 Personas
  
  form(action='/entidades',method='get')
     input(id='q',type='text',value='#{query}',placeholder='',name='q')
     input(type='submit',value='Buscar')

  ul
    each e, index in entidades
       li= e.getNombre()
         if (e.persona().length)
            h4 persona
            ul 
              each j, index in e.persona()
                 li= j.getNombre()
         else
            br
            span (Sin personas para el evento)


  p
  p 
  a(href="/") Volver al principal
